<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Админка</title>
</head>
<body>

<div layout:fragment="content" class="container">
        <div>
            <h4>Пользователи:</h4>
            <ul class="list-unstyled col-sm-5" id="usersArea">
                <li class="left clearfix" th:each="usr : ${@usersService.activeUsers}" th:id="|user-${usr.id}|" th:data-id="${usr.id}">
                    <strong class="user-name" th:text="${usr.name}"></strong>
                    <div class="float-right">
                        <button class="btn btn-secondary" onclick="renameUser(this)">Переименовать</button>
                        <button class="btn btn-secondary" onclick="deleteUser(this)">Удалить</button>
                    </div>
                </li>
            </ul>
        </div>
</div>

<script layout:fragment="optional" th:src="@{/js/admin.js}"></script>

</body>
</html>