<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>НедоЧат</title>
</head>
<body>

<div layout:fragment="content">
    <section>
        <div>
            <p>Список пользователей:</p>
            <ul id="usersArea">
                <li th:each="usr : ${@usersService.onlineUsers}" th:id="|user-${usr.id}|" th:data-id="${usr.id}" th:text="${usr.name}" onclick="setReceiver(this)">
                </li>
            </ul>
        </div>
        <div>
            <p>Сообщения:</p>
            <ul id="chatArea" th:data-admin="${user.admin ? 'true' : ''}">
                <li th:each="msg : ${chatMessages}" th:id="|msg-${msg.id}|" th:data-id="${msg.id}" class="chat-message">
                    <div>
                        <strong class="nickname" th:text="${msg.sender.name}"></strong>
                        <span class="receiver" th:if="${msg.receiver}" th:text="${msg.receiver.name}"></span>
                        <th:block th:if="${user.admin}">
                        <button onclick="editMessage(this)">Изменить</button>
                        <button onclick="deleteMessage(this)">Удалить</button>
                        </th:block>
                        <span class="send-date" th:text="${#temporals.format(msg.sendDate,'HH:mm:ss dd.MM.yyyy')}"></span>
                    </div>
                    <div class="content" th:text="${msg.content}"></div>
                </li>
            </ul>
        </div>
        <div>
            <form method="POST" th:action="@{/chat/postMessage}" id="chatForm">
                <p id="receiver" onclick="clearReceiver()"></p>
                <div>
                    <label for="msg">Сообщение: </label>
                    <textarea name="msg" id="msg" rows="6"></textarea>
                </div>
                <input type="submit" value="Отправить"/>
            </form>

        </div>
    </section>
</div>

<script layout:fragment="optional" th:src="@{/js/chat.js}"></script>


</body>
</html>