<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Регистрация нового пользователя</title>
</head>
<body>

<div layout:fragment="content" class="container d-flex align-items-center justify-content-center">
    <form class="col-md-4" method="POST" th:action="@{/registration}" th:object="${registrationForm}" id="registerForm">
        <div class="form-group">
            <label for="username">Логин: </label>
            <input class="form-control" type="text" th:field="*{username}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div class="form-group">
            <label for="name">Отображаемое имя: </label>
            <input class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="password">Пароль: </label>
            <input class="form-control"  type="password" th:field="*{password}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group">
            <label for="confirm">Подтвердите пароль: </label>
            <input class="form-control" type="password" th:field="*{confirm}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirm')}" th:errors="*{confirm}"></div>
        </div>

        <div th:if="${#fields.hasErrors('global')}">
            <div class="alert alert-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}"></div>
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="Зарегистрировать"/>
            <a class="btn btn-secondary" th:href="@{/}">На главную</a>
        </div>
    </form>
</div>

</body>
</html>